<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages': ['geochart']});
      google.setOnLoadCallback(drawMarkersMap);

      function drawMarkersMap() {
        $.getJSON( "quakes", function( data ) {
          var payload = data["payload"];
          var items = [];

          $.each( payload, function( index, place ) {
            items.push([place.lat, place.lon, place.place, place.mag]);
          });

          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Latitude');
          data.addColumn('number', 'Longitude');
          data.addColumn('string', 'Description');
          data.addColumn('number', 'Magnitude');

          data.addRows(items);

          var options = {
            displayMode: 'markers',
            colorAxis: {colors: ['yellow', 'red']}
          };

          var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        });
      };
    </script>
  </head>
  <body>
    <div id="chart_div"></div>
  </body>
</html>